In [27]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
# loading the dataframe
messy_df = pd.read_csv('AbuDhabi.csv')

In [29]:
messy_df.columns

Index(['WlYyy', 'FmrIP href', 'dugSS src', 'bUshh', 'cIVmB', 'iPqaD href 2',
       'WlYyy 2', 'WlYyy 3', 'WlYyy 4'],
      dtype='object')

In [30]:
# take a look of the first 5 rows in the data
messy_df.head()

,WlYyy,FmrIP href,dugSS src,bUshh,cIVmB,iPqaD href 2,WlYyy 2,WlYyy 3,WlYyy 4
0,619 places sorted by traveler favorites,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"34,753",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Sheikh Zayed Grand Mosque Center,1.0,https://www.tripadvisor.com/Attraction_Review-...,Religious Sites,Open now,By
2,"4,127",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Louvre Abu Dhabi,2.0,https://www.tripadvisor.com/Attraction_Review-...,Art Museums • History Museums,Open now,By
3,"5,994",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Emirates Palace,3.0,https://www.tripadvisor.com/Attraction_Review-...,Architectural Buildings,Open now,By
4,"4,249",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Yas Marina Circuit,4.0,https://www.tripadvisor.com/Attraction_Review-...,Auto Racing Tracks,Open now,By

In [31]:
# check the datatype & non-null count
messy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534 entries, 0 to 533
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WlYyy         336 non-null    object
 1   FmrIP href    512 non-null    object
 2   dugSS src     378 non-null    object
 3   bUshh         512 non-null    object
 4   cIVmB         512 non-null    float64
 5   iPqaD href 2  314 non-null    object
 6   WlYyy 2       533 non-null    object
 7   WlYyy 3       194 non-null    object
 8   WlYyy 4       117 non-null    object
dtypes: float64(1), object(8)
memory usage: 37.7+ KB

In [32]:
# making a cop of the data to clean it
df = messy_df.copy()

In [33]:
# dropping the unnecessary columns
df.drop(['WlYyy', 'FmrIP href', 'dugSS src', 'cIVmB', 'iPqaD href 2', 'WlYyy 3', 'WlYyy 4'], axis=1 , inplace=True)

In [34]:
# renaming the columns
df.rename(columns={'bUshh':'Attraction Name', 'WlYyy 2':'Attraction Type'}, inplace=True)

In [35]:
# adding new columns
df['City'] = 'Abu Dhabi'
df['Country'] = 'United Arab Emirates'

In [36]:
# check the total duplicated rows
sum(df.duplicated())

53

In [37]:
# drop the duplicated rows
df.drop_duplicates()

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Abu Dhabi,United Arab Emirates
1,Sheikh Zayed Grand Mosque Center,Religious Sites,Abu Dhabi,United Arab Emirates
2,Louvre Abu Dhabi,Art Museums • History Museums,Abu Dhabi,United Arab Emirates
3,Emirates Palace,Architectural Buildings,Abu Dhabi,United Arab Emirates
4,Yas Marina Circuit,Auto Racing Tracks,Abu Dhabi,United Arab Emirates
...,...,...,...,...
528,Gamers Lounge Game Center,Game & Entertainment Centers,Abu Dhabi,United Arab Emirates
529,Sipra International,Mysterious Sites,Abu Dhabi,United Arab Emirates
530,Thai Style Beauty Salon,Arab Baths • Hammams & Turkish Baths,Abu Dhabi,United Arab Emirates
531,Massage Spa - Shabiya,Spas,Abu Dhabi,United Arab Emirates
532,Naas Flowers,Speciality & Gift Shops,Abu Dhabi,United Arab Emirates

In [38]:
df.columns

Index(['Attraction Name', 'Attraction Type', 'City', 'Country'], dtype='object')

In [39]:
#checking for total null values
df.isnull().sum()

Attraction Name    22
Attraction Type     1
City                0
Country             0
dtype: int64

In [40]:
# reset the index
df.reset_index(drop=True)

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Abu Dhabi,United Arab Emirates
1,Sheikh Zayed Grand Mosque Center,Religious Sites,Abu Dhabi,United Arab Emirates
2,Louvre Abu Dhabi,Art Museums • History Museums,Abu Dhabi,United Arab Emirates
3,Emirates Palace,Architectural Buildings,Abu Dhabi,United Arab Emirates
4,Yas Marina Circuit,Auto Racing Tracks,Abu Dhabi,United Arab Emirates
...,...,...,...,...
529,Sipra International,Mysterious Sites,Abu Dhabi,United Arab Emirates
530,Thai Style Beauty Salon,Arab Baths • Hammams & Turkish Baths,Abu Dhabi,United Arab Emirates
531,Massage Spa - Shabiya,Spas,Abu Dhabi,United Arab Emirates
532,Naas Flowers,Speciality & Gift Shops,Abu Dhabi,United Arab Emirates
533,NaN,1,Abu Dhabi,United Arab Emirates

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534 entries, 0 to 533
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  512 non-null    object
 1   Attraction Type  533 non-null    object
 2   City             534 non-null    object
 3   Country          534 non-null    object
dtypes: object(4)
memory usage: 16.8+ KB

In [42]:
# Store the clean dataset
df.to_csv('AbuDhabiclean.csv')