In [2]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# reading Attraction dataframes
df1 = pd.read_csv(r'..\Attraction data\AbuDhabiclean.csv')
df2 = pd.read_csv(r'..\Attraction data\AlUlaclean.csv')
df3 = pd.read_csv(r'..\Attraction data\Antalyaclean.csv')
df4 = pd.read_csv(r'..\Attraction data\Beijingclean.csv')
df5 = pd.read_csv(r'..\Attraction data\Berlinclean.csv')
df6 = pd.read_csv(r'..\Attraction data\Buenos Airesclean.csv')
#df7 = pd.read_csv(r'..\Attraction data\Cairoclean.csv')
df8 = pd.read_csv(r'..\Attraction data\Cape Townclean.csv')
df9 = pd.read_csv(r'..\Attraction data\Chicagoclean.csv')
#df10 = pd.read_csv(r'..\Attraction data\Riyadhclean.csv')
df11 = pd.read_csv(r'..\Attraction data\Athensclean.csv')
df12 = pd.read_csv(r'..\Attraction data\Dohaclean.csv')
df13 = pd.read_csv(r'..\Attraction data\Istanbulclean.csv')
df14 = pd.read_csv(r'..\Attraction data\Jeddahclean.csv')
df15 = pd.read_csv(r'..\Attraction data\Kuala Lumpurclean.csv')
#df16 = pd.read_csv(r'..\Attraction data\Londonclean.csv')
df17 = pd.read_csv(r'..\Attraction data\Madridclean.csv')
df18 = pd.read_csv(r'..\Attraction data\Marrakechclean.csv')
df19 = pd.read_csv(r'..\Attraction data\Mumbaiclean.csv')
df20 = pd.read_csv(r'..\Attraction data\Muscatclean.csv')
df21 = pd.read_csv(r'..\Attraction data\NewYorkclean.csv')
df22 = pd.read_csv(r'..\Attraction data\Orlandoclean.csv')
df23 = pd.read_csv(r'..\Attraction data\Rio de Janeiroclean.csv')
#df24 = pd.read_csv(r'..\Attraction data\Parisclean.csv')
df25 = pd.read_csv(r'..\Attraction data\Romeclean.csv')
df26 = pd.read_csv(r'..\Attraction data\Singaporeclean.csv')
df27 = pd.read_csv(r'..\Attraction data\Shanghaiclean.csv')
df28 = pd.read_csv(r'..\Attraction data\Seoulclean.csv')
df29 = pd.read_csv(r'..\Attraction data\Tokyoclean.csv')
df30 = pd.read_csv(r'..\Attraction data\Amsterdamclean.csv')
df31 = pd.read_csv(r'..\Attraction data\Barcelonaclean.csv')
df32 = pd.read_csv(r'..\Attraction data\Hong Kongclean.csv')
df33 = pd.read_csv(r'..\Attraction data\LAclean.csv')
df34 = pd.read_csv(r'..\Attraction data\LVclean.csv')
df35 = pd.read_csv(r'..\Attraction data\Mexico Cityclean.csv')
df36 = pd.read_csv(r'..\Attraction data\Sydneyclean.csv')
df37 = pd.read_csv(r'..\Attraction data\Torontoclean.csv')
df38 = pd.read_csv(r'..\Attraction data\Viennaclean.csv')

In [4]:
# Concatenating DataFrames 
all_dfs = [df1, df2, df3, df4, df5, df6,  df8, df9, df11, df12, df13, df14, df15, df17, df18, df19, df20, df21, df22, df23, df25, df26, df27, df28, df29, df30, df31, df32, df33, df34, df35, df36, df37, df38]

df = pd.concat(all_dfs)

In [5]:
# drop the Unnamed: 0 column
df.drop('Unnamed: 0', axis=1, inplace=True)

In [6]:
# to check the concatenating
df.head()

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Abu Dhabi,United Arab Emirates
1,Sheikh Zayed Grand Mosque Center,Religious Sites,Abu Dhabi,United Arab Emirates
2,Louvre Abu Dhabi,Art Museums • History Museums,Abu Dhabi,United Arab Emirates
3,Emirates Palace,Architectural Buildings,Abu Dhabi,United Arab Emirates
4,Yas Marina Circuit,Auto Racing Tracks,Abu Dhabi,United Arab Emirates

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15140 entries, 0 to 496
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  14550 non-null  object
 1   Attraction Type  15085 non-null  object
 2   City             15140 non-null  object
 3   Country          15140 non-null  object
dtypes: object(4)
memory usage: 591.4+ KB