In [5]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# loading the dataframe
messy_df = pd.read_csv('Amsterdam.csv')

In [7]:
# take a look of the first 5 rows in the data
messy_df.head()

,WlYyy,FmrIP href,dugSS src,bUshh,cIVmB,iPqaD href 2,WlYyy 2,WlYyy 3,TCGml,WlYyy 8
0,"2,000+ places sorted by traveler favorites",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"46,770",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Rijksmuseum,1.0,https://www.tripadvisor.com/Attraction_Review-...,Art Museums,Museum Quarter (Museumkwartier),NaN,NaN
2,"62,479",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Anne Frank House,2.0,https://www.tripadvisor.com/Attraction_Review-...,Speciality Museums • Historic Sites,Centrum,•,Open now
3,"63,950",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Van Gogh Museum,3.0,https://www.tripadvisor.com/Attraction_Review-...,Art Museums,Museum Quarter (Museumkwartier),•,Open now
4,"11,758",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,The Jordaan,4.0,https://www.tripadvisor.com/Attraction_Review-...,Neighborhoods,Centrum,NaN,NaN

In [8]:
# check the datatype & non-null count
messy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WlYyy         497 non-null    object
 1   FmrIP href    480 non-null    object
 2   dugSS src     475 non-null    object
 3   bUshh         480 non-null    object
 4   cIVmB         480 non-null    float64
 5   iPqaD href 2  480 non-null    object
 6   WlYyy 2       496 non-null    object
 7   WlYyy 3       483 non-null    object
 8   TCGml         132 non-null    object
 9   WlYyy 8       131 non-null    object
dtypes: float64(1), object(9)
memory usage: 39.0+ KB

In [9]:
# making a cop of the data to clean it
df = messy_df.copy()

In [10]:
# dropping the unnecessary columns
df.drop(['WlYyy', 'FmrIP href', 'dugSS src', 'cIVmB', 'iPqaD href 2', 'WlYyy 3', 'TCGml', 'WlYyy 8'], axis=1 , inplace=True)

In [11]:
# renaming the columns
df.rename(columns={ 'bUshh':'Attraction Name', 'WlYyy 2':'Attraction Type'}, inplace=True)

In [12]:
# adding new columns
df['City'] = 'Amsterdam'
df['Country'] = 'Netherlands'

In [13]:
# check the total duplicated rows
sum(df.duplicated())

15

In [14]:
# drop the duplicated rows
df.drop_duplicates()

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Amsterdam,Netherlands
1,Rijksmuseum,Art Museums,Amsterdam,Netherlands
2,Anne Frank House,Speciality Museums • Historic Sites,Amsterdam,Netherlands
3,Van Gogh Museum,Art Museums,Amsterdam,Netherlands
4,The Jordaan,Neighborhoods,Amsterdam,Netherlands
...,...,...,...,...
491,Hondje,Points of Interest & Landmarks,Amsterdam,Netherlands
492,Brug 382,Bridges,Amsterdam,Netherlands
493,Walenweeskinderen,Points of Interest & Landmarks • Monuments & S...,Amsterdam,Netherlands
494,Herengracht 581 - Amsterdam,Historic Sites • Architectural Buildings,Amsterdam,Netherlands
495,Kunstenaarsverzet,Points of Interest & Landmarks,Amsterdam,Netherlands

In [15]:
df.columns

Index(['Attraction Name', 'Attraction Type', 'City', 'Country'], dtype='object')

In [16]:
#checking for total null values
df.isnull().sum()

Attraction Name    17
Attraction Type     1
City                0
Country             0
dtype: int64

In [17]:
# reset the index
df.reset_index(drop=True)

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Amsterdam,Netherlands
1,Rijksmuseum,Art Museums,Amsterdam,Netherlands
2,Anne Frank House,Speciality Museums • Historic Sites,Amsterdam,Netherlands
3,Van Gogh Museum,Art Museums,Amsterdam,Netherlands
4,The Jordaan,Neighborhoods,Amsterdam,Netherlands
...,...,...,...,...
492,Brug 382,Bridges,Amsterdam,Netherlands
493,Walenweeskinderen,Points of Interest & Landmarks • Monuments & S...,Amsterdam,Netherlands
494,Herengracht 581 - Amsterdam,Historic Sites • Architectural Buildings,Amsterdam,Netherlands
495,Kunstenaarsverzet,Points of Interest & Landmarks,Amsterdam,Netherlands
496,NaN,1,Amsterdam,Netherlands

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  480 non-null    object
 1   Attraction Type  496 non-null    object
 2   City             497 non-null    object
 3   Country          497 non-null    object
dtypes: object(4)
memory usage: 15.7+ KB

**For the Cleaning:**

- type: REMOVE
- duration: REMOVE
- canel: REMOVE other
- price:$ --> float

In [19]:
# Store the clean dataset
df.to_csv('Amsterdamclean.csv')