In [5]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
messy_df.columns

Index(['WlYyy', 'FmrIP href', 'dugSS src', 'bUshh', 'cIVmB', 'iPqaD href',
       'WlYyy 2', 'WlYyy 3'],
      dtype='object')

In [7]:
# loading the dataframe
messy_df = pd.read_csv('Barcelona.csv')

In [8]:
messy_df.columns

Index(['WlYyy', 'FmrIP href', 'dugSS src', 'bUshh', 'cIVmB', 'iPqaD href',
       'WlYyy 2', 'WlYyy 3'],
      dtype='object')

In [9]:
# take a look of the first 5 rows in the data
messy_df.head()

,WlYyy,FmrIP href,dugSS src,bUshh,cIVmB,iPqaD href,WlYyy 2,WlYyy 3
0,"4,000+ places sorted by traveler favorites",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85,https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Playa de la Mar Bella,121.0,https://www.tripadvisor.com/Attraction_Review-...,Beaches,Sant Martí
2,353,https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,L'illa Diagonal,122.0,https://www.tripadvisor.com/Attraction_Review-...,Shopping Malls,Les Corts
3,151,https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Barcelona Wax Museum,123.0,https://www.tripadvisor.com/Attraction_Review-...,Speciality Museums,Barrio Gòtico (Barri Gòtic)
4,106,https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Big Fun Museum,124.0,https://www.tripadvisor.com/Attraction_Review-...,Speciality Museums,El Congrés i els Indians

In [10]:
# check the datatype & non-null count
messy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WlYyy       559 non-null    object
 1   FmrIP href  540 non-null    object
 2   dugSS src   538 non-null    object
 3   bUshh       540 non-null    object
 4   cIVmB       540 non-null    float64
 5   iPqaD href  540 non-null    object
 6   WlYyy 2     558 non-null    object
 7   WlYyy 3     535 non-null    object
dtypes: float64(1), object(7)
memory usage: 35.1+ KB

In [11]:
# making a cop of the data to clean it
df = messy_df.copy()

In [12]:
# dropping the unnecessary columns
df.drop(['WlYyy', 'FmrIP href', 'dugSS src', 'cIVmB', 'iPqaD href','WlYyy 3'], axis=1 , inplace=True)

In [13]:
# renaming the columns
df.rename(columns={ 'bUshh':'Attraction Name', 'WlYyy 2':'Attraction Type'}, inplace=True)

In [14]:
# adding new columns
df['City'] = 'Barcelona'
df['Country'] = 'Spain'

In [15]:
# check the total duplicated rows
sum(df.duplicated())

0

In [16]:
# drop the duplicated rows
df.drop_duplicates()

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Barcelona,Spain
1,Playa de la Mar Bella,Beaches,Barcelona,Spain
2,L'illa Diagonal,Shopping Malls,Barcelona,Spain
3,Barcelona Wax Museum,Speciality Museums,Barcelona,Spain
4,Big Fun Museum,Speciality Museums,Barcelona,Spain
...,...,...,...,...
554,Patricio Minconi Jewelry Essence,Art Galleries,Barcelona,Spain
555,Nuestra Señora de Pompeya,Churches & Cathedrals,Barcelona,Spain
556,Real Academia de Ciencias y Artes de Barcelona,Points of Interest & Landmarks • Architectural...,Barcelona,Spain
557,Busto do Actor Iscle Soler,Points of Interest & Landmarks • Monuments & S...,Barcelona,Spain
558,NaN,21,Barcelona,Spain

In [17]:
df.columns

Index(['Attraction Name', 'Attraction Type', 'City', 'Country'], dtype='object')

In [18]:
#checking for total null values
df.isnull().sum()

Attraction Name    19
Attraction Type     1
City                0
Country             0
dtype: int64

In [19]:
# reset the index
df.reset_index(drop=True)

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Barcelona,Spain
1,Playa de la Mar Bella,Beaches,Barcelona,Spain
2,L'illa Diagonal,Shopping Malls,Barcelona,Spain
3,Barcelona Wax Museum,Speciality Museums,Barcelona,Spain
4,Big Fun Museum,Speciality Museums,Barcelona,Spain
...,...,...,...,...
554,Patricio Minconi Jewelry Essence,Art Galleries,Barcelona,Spain
555,Nuestra Señora de Pompeya,Churches & Cathedrals,Barcelona,Spain
556,Real Academia de Ciencias y Artes de Barcelona,Points of Interest & Landmarks • Architectural...,Barcelona,Spain
557,Busto do Actor Iscle Soler,Points of Interest & Landmarks • Monuments & S...,Barcelona,Spain
558,NaN,21,Barcelona,Spain

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  540 non-null    object
 1   Attraction Type  558 non-null    object
 2   City             559 non-null    object
 3   Country          559 non-null    object
dtypes: object(4)
memory usage: 17.6+ KB

In [21]:
# Store the clean dataset
df.to_csv('Barcelonaclean.csv')