In [5]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# loading the dataframe
messy_df = pd.read_csv('Buenos Aires.csv')

In [7]:
messy_df.columns

Index(['WlYyy', 'FmrIP href', 'dugSS src', 'bUshh', 'cIVmB', 'iPqaD href 2',
       'WlYyy 2', 'WlYyy 3'],
      dtype='object')

In [8]:
# take a look of the first 5 rows in the data
messy_df.head()

,WlYyy,FmrIP href,dugSS src,bUshh,cIVmB,iPqaD href 2,WlYyy 2,WlYyy 3
0,"2,000+ places sorted by traveler favorites",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"24,085",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Teatro Colon,1.0,https://www.tripadvisor.com/Attraction_Review-...,Theaters,San Nicolás
2,"41,571",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Puerto Madero,2.0,https://www.tripadvisor.com/Attraction_Review-...,Neighborhoods,Puerto Madero
3,"21,665",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Recoleta,3.0,https://www.tripadvisor.com/Attraction_Review-...,Historic Sites • Neighborhoods,Recoleta
4,"8,246",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Bosques de Palermo,4.0,https://www.tripadvisor.com/Attraction_Review-...,Parks,Palermo

In [9]:
# check the datatype & non-null count
messy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WlYyy         256 non-null    object
 1   FmrIP href    245 non-null    object
 2   dugSS src     245 non-null    object
 3   bUshh         245 non-null    object
 4   cIVmB         245 non-null    float64
 5   iPqaD href 2  245 non-null    object
 6   WlYyy 2       254 non-null    object
 7   WlYyy 3       243 non-null    object
dtypes: float64(1), object(7)
memory usage: 16.1+ KB

In [10]:
# making a cop of the data to clean it
df = messy_df.copy()

In [11]:
# dropping the unnecessary columns
df.drop(['WlYyy', 'FmrIP href', 'dugSS src', 'cIVmB', 'iPqaD href 2', 'WlYyy 3'], axis=1 , inplace=True)

In [12]:
# renaming the columns
df.rename(columns={ 'bUshh':'Attraction Name', 'WlYyy 2':'Attraction Type'}, inplace=True)

In [13]:
# adding new columns
df['City'] = 'Buenos Aires'
df['Country'] = 'Argentina'

In [14]:
# check the total duplicated rows
sum(df.duplicated())

13

In [15]:
# drop the duplicated rows
df.drop_duplicates()

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Buenos Aires,Argentina
1,Teatro Colon,Theaters,Buenos Aires,Argentina
2,Puerto Madero,Neighborhoods,Buenos Aires,Argentina
3,Recoleta,Historic Sites • Neighborhoods,Buenos Aires,Argentina
4,Bosques de Palermo,Parks,Buenos Aires,Argentina
...,...,...,...,...
250,Fundacion Mercedes Sosa,Civic Centres,Buenos Aires,Argentina
251,Monumento a Carlos Pellegrini,Monuments & Statues,Buenos Aires,Argentina
252,Museo Histórico Cornelio de Saavedra,History Museums,Buenos Aires,Argentina
253,Cine Hoyts,Theaters,Buenos Aires,Argentina
254,Monumento a Carlos Gardel,Monuments & Statues,Buenos Aires,Argentina

In [16]:
df.columns

Index(['Attraction Name', 'Attraction Type', 'City', 'Country'], dtype='object')

In [17]:
#checking for total null values
df.isnull().sum()

Attraction Name    11
Attraction Type     2
City                0
Country             0
dtype: int64

In [18]:
# reset the index
df.reset_index(drop=True)

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Buenos Aires,Argentina
1,Teatro Colon,Theaters,Buenos Aires,Argentina
2,Puerto Madero,Neighborhoods,Buenos Aires,Argentina
3,Recoleta,Historic Sites • Neighborhoods,Buenos Aires,Argentina
4,Bosques de Palermo,Parks,Buenos Aires,Argentina
...,...,...,...,...
251,Monumento a Carlos Pellegrini,Monuments & Statues,Buenos Aires,Argentina
252,Museo Histórico Cornelio de Saavedra,History Museums,Buenos Aires,Argentina
253,Cine Hoyts,Theaters,Buenos Aires,Argentina
254,Monumento a Carlos Gardel,Monuments & Statues,Buenos Aires,Argentina
255,NaN,1,Buenos Aires,Argentina

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  245 non-null    object
 1   Attraction Type  254 non-null    object
 2   City             256 non-null    object
 3   Country          256 non-null    object
dtypes: object(4)
memory usage: 8.1+ KB

In [20]:
# Store the clean dataset
df.to_csv('Buenos Airesclean.csv')