In [5]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# loading the dataframe
messy_df = pd.read_csv('Hong Kong.csv')

In [7]:
messy_df.columns

Index(['WlYyy', 'FmrIP href', 'dugSS src', 'bUshh', 'cIVmB', 'iPqaD href 2',
       'WlYyy 2', 'WlYyy 3', 'iPqaD href 3', 'dugSS src 2', 'WlYyy 4', 'iPqaD',
       'iPqaD href 5', 'WlYyy 5', 'dkvhj', 'WlYyy 6'],
      dtype='object')

In [8]:
# take a look of the first 5 rows in the data
messy_df.head()

,WlYyy,FmrIP href,dugSS src,bUshh,cIVmB,iPqaD href 2,WlYyy 2,WlYyy 3,iPqaD href 3,dugSS src 2,WlYyy 4,iPqaD,iPqaD href 5,WlYyy 5,dkvhj,WlYyy 6
0,"2,000+ places sorted by traveler favorites",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"14,788",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Tian Tan Buddha (Big Buddha),1.0,https://www.tripadvisor.com/Attraction_Review-...,Points of Interest & Landmarks • Architectural...,New Territories,https://www.tripadvisor.com/Profile/1faithh,https://dynamic-media-cdn.tripadvisor.com/medi...,By,1faithh,https://www.tripadvisor.com/ShowUserReviews-g2...,"Taking a tour of Lantau - ferry, bus, the amazig",cable car,and train in a glorious circuit which included...
2,"36,141",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Victoria Peak (The Peak),2.0,https://www.tripadvisor.com/Attraction_Review-...,Observation Decks & Towers,Peak,https://www.tripadvisor.com/Profile/RaulEstevez54,https://dynamic-media-cdn.tripadvisor.com/medi...,By,RaulEstevez54,https://www.tripadvisor.com/ShowUserReviews-g2...,Every time we visit Hong Kong is a ritual we m...,Victoria peak,and enjoy the wonderful views of Hong Kong w...
3,"24,466",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Star Ferry,3.0,https://www.tripadvisor.com/Attraction_Review-...,Ferries,Tsim Sha Tsui,https://www.tripadvisor.com/Profile/Dr_Stephen_So,https://dynamic-media-cdn.tripadvisor.com/medi...,By,Dr_Stephen_So,https://www.tripadvisor.com/ShowUserReviews-g2...,... get to experience the breeze across the ha...,Hong Kong island,.
4,"7,429",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Ngong Ping 360,4.0,https://www.tripadvisor.com/Attraction_Review-...,Trams • Points of Interest & Landmarks,New Territories,https://www.tripadvisor.com/Profile/Flo-floreen,https://dynamic-media-cdn.tripadvisor.com/medi...,By,Flo-floreen,https://www.tripadvisor.com/ShowUserReviews-g2...,is the best choice while you ride Ngong Ping c...,Crystal cabin,NaN

In [9]:
# check the datatype & non-null count
messy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WlYyy         528 non-null    object
 1   FmrIP href    510 non-null    object
 2   dugSS src     510 non-null    object
 3   bUshh         510 non-null    object
 4   cIVmB         510 non-null    float64
 5   iPqaD href 2  510 non-null    object
 6   WlYyy 2       522 non-null    object
 7   WlYyy 3       497 non-null    object
 8   iPqaD href 3  133 non-null    object
 9   dugSS src 2   133 non-null    object
 10  WlYyy 4       148 non-null    object
 11  iPqaD         133 non-null    object
 12  iPqaD href 5  133 non-null    object
 13  WlYyy 5       132 non-null    object
 14  dkvhj         133 non-null    object
 15  WlYyy 6       126 non-null    object
dtypes: float64(1), object(15)
memory usage: 66.1+ KB

In [10]:
# making a cop of the data to clean it
df = messy_df.copy()

In [11]:
# dropping the unnecessary columns
df.drop(['WlYyy', 'FmrIP href', 'dugSS src', 'cIVmB', 'iPqaD href 2','WlYyy 3', 'iPqaD href 3', 'dugSS src 2', 'WlYyy 4', 'iPqaD','iPqaD href 5', 'WlYyy 5', 'dkvhj', 'WlYyy 6'], axis=1 , inplace=True)

In [12]:
# renaming the columns
df.rename(columns={ 'bUshh':'Attraction Name', 'WlYyy 2':'Attraction Type'}, inplace=True)

In [13]:
# adding new columns
df['City'] = 'Hong Kong'
df['Country'] = 'China'

In [14]:
# check the total duplicated rows
sum(df.duplicated())

16

In [15]:
# drop the duplicated rows
df.drop_duplicates()

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Hong Kong,China
1,Tian Tan Buddha (Big Buddha),Points of Interest & Landmarks • Architectural...,Hong Kong,China
2,Victoria Peak (The Peak),Observation Decks & Towers,Hong Kong,China
3,Star Ferry,Ferries,Hong Kong,China
4,Ngong Ping 360,Trams • Points of Interest & Landmarks,Hong Kong,China
...,...,...,...,...
522,Landmark Alexandra,Shopping Malls,Hong Kong,China
523,Fanling Town Centre Plaza,Shopping Malls,Hong Kong,China
524,Fung Yuen Butterfly Reserve,Nature & Wildlife Areas,Hong Kong,China
525,Island Place,Shopping Malls,Hong Kong,China
526,Chinese Goods Centre,Shopping Malls,Hong Kong,China

In [16]:
df.columns

Index(['Attraction Name', 'Attraction Type', 'City', 'Country'], dtype='object')

In [17]:
#checking for total null values
df.isnull().sum()

Attraction Name    18
Attraction Type     6
City                0
Country             0
dtype: int64

In [18]:
# reset the index
df.reset_index(drop=True)

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Hong Kong,China
1,Tian Tan Buddha (Big Buddha),Points of Interest & Landmarks • Architectural...,Hong Kong,China
2,Victoria Peak (The Peak),Observation Decks & Towers,Hong Kong,China
3,Star Ferry,Ferries,Hong Kong,China
4,Ngong Ping 360,Trams • Points of Interest & Landmarks,Hong Kong,China
...,...,...,...,...
523,Fanling Town Centre Plaza,Shopping Malls,Hong Kong,China
524,Fung Yuen Butterfly Reserve,Nature & Wildlife Areas,Hong Kong,China
525,Island Place,Shopping Malls,Hong Kong,China
526,Chinese Goods Centre,Shopping Malls,Hong Kong,China
527,NaN,1,Hong Kong,China

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  510 non-null    object
 1   Attraction Type  522 non-null    object
 2   City             528 non-null    object
 3   Country          528 non-null    object
dtypes: object(4)
memory usage: 16.6+ KB

In [20]:
# Store the clean dataset
df.to_csv('Hong Kongclean.csv')