In [5]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# loading the dataframe
messy_df = pd.read_csv('Jeddah.csv')

In [7]:
messy_df.columns

Index(['WlYyy', 'FmrIP href', 'dugSS src', 'bUshh', 'cIVmB', 'iPqaD href 2',
       'WlYyy 2'],
      dtype='object')

In [8]:
# take a look of the first 5 rows in the data
messy_df.head()

,WlYyy,FmrIP href,dugSS src,bUshh,cIVmB,iPqaD href 2,WlYyy 2
0,191 places sorted by traveler favorites,NaN,NaN,NaN,NaN,NaN,NaN
1,"1,049",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Al-Balad,1.0,https://www.tripadvisor.com/Attraction_Review-...,Historic Sites • Neighborhoods
2,926,https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Red Sea Mall,2.0,https://www.tripadvisor.com/Attraction_Review-...,Shopping Malls
3,791,https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Jeddah Corniche,3.0,https://www.tripadvisor.com/Attraction_Review-...,Points of Interest & Landmarks
4,"1,231",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,King Fahd's Fountain,4.0,https://www.tripadvisor.com/Attraction_Review-...,Fountains

In [9]:
# check the datatype & non-null count
messy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WlYyy         129 non-null    object
 1   FmrIP href    162 non-null    object
 2   dugSS src     126 non-null    object
 3   bUshh         162 non-null    object
 4   cIVmB         162 non-null    float64
 5   iPqaD href 2  121 non-null    object
 6   WlYyy 2       169 non-null    object
dtypes: float64(1), object(6)
memory usage: 9.4+ KB

In [10]:
# making a cop of the data to clean it
df = messy_df.copy()

In [11]:
# dropping the unnecessary columns
df.drop(['WlYyy', 'FmrIP href', 'dugSS src', 'cIVmB', 'iPqaD href 2'], axis=1 , inplace=True)

In [12]:
# renaming the columns
df.rename(columns={ 'bUshh':'Attraction Name', 'WlYyy 2':'Attraction Type'}, inplace=True)

In [13]:
# adding new columns
df['City'] = 'Jeddah'
df['Country'] = 'Saudi Arabia'

In [14]:
# check the total duplicated rows
sum(df.duplicated())

46

In [15]:
# drop the duplicated rows
df.drop_duplicates()

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Jeddah,Saudi Arabia
1,Al-Balad,Historic Sites • Neighborhoods,Jeddah,Saudi Arabia
2,Red Sea Mall,Shopping Malls,Jeddah,Saudi Arabia
3,Jeddah Corniche,Points of Interest & Landmarks,Jeddah,Saudi Arabia
4,King Fahd's Fountain,Fountains,Jeddah,Saudi Arabia
...,...,...,...,...
163,Cheeky Monkeys,Game & Entertainment Centers,Jeddah,Saudi Arabia
164,Mega Paintball,Sporting Events,Jeddah,Saudi Arabia
165,Mega Paintball,Game & Entertainment Centers,Jeddah,Saudi Arabia
167,The Outfit Maker,Shopping Malls,Jeddah,Saudi Arabia
168,Mosque Mohammed Hassan Farsi,Points of Interest & Landmarks • Religious Sites,Jeddah,Saudi Arabia

In [16]:
df.columns

Index(['Attraction Name', 'Attraction Type', 'City', 'Country'], dtype='object')

In [17]:
#checking for total null values
df.isnull().sum()

Attraction Name    8
Attraction Type    1
City               0
Country            0
dtype: int64

In [18]:
# reset the index
df.reset_index(drop=True)

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Jeddah,Saudi Arabia
1,Al-Balad,Historic Sites • Neighborhoods,Jeddah,Saudi Arabia
2,Red Sea Mall,Shopping Malls,Jeddah,Saudi Arabia
3,Jeddah Corniche,Points of Interest & Landmarks,Jeddah,Saudi Arabia
4,King Fahd's Fountain,Fountains,Jeddah,Saudi Arabia
...,...,...,...,...
165,Mega Paintball,Game & Entertainment Centers,Jeddah,Saudi Arabia
166,Bomb Cosmetics,Speciality & Gift Shops,Jeddah,Saudi Arabia
167,The Outfit Maker,Shopping Malls,Jeddah,Saudi Arabia
168,Mosque Mohammed Hassan Farsi,Points of Interest & Landmarks • Religious Sites,Jeddah,Saudi Arabia
169,NaN,1,Jeddah,Saudi Arabia

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  162 non-null    object
 1   Attraction Type  169 non-null    object
 2   City             170 non-null    object
 3   Country          170 non-null    object
dtypes: object(4)
memory usage: 5.4+ KB

In [20]:
# Store the clean dataset
df.to_csv('Jeddahclean.csv')