In [5]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# loading the dataframe
messy_df = pd.read_csv('Kuala Lumpur.csv')

In [7]:
messy_df.columns

Index(['WlYyy', 'FmrIP href', 'dugSS src', 'bUshh', 'cIVmB', 'iPqaD href 2',
       'WlYyy 2', 'WlYyy 3', 'iPqaD href 3', 'dugSS src 2', 'WlYyy 5', 'iPqaD',
       'iPqaD href 5', 'WlYyy 6', 'dkvhj', 'WlYyy 7'],
      dtype='object')

In [8]:
# take a look of the first 5 rows in the data
messy_df.head()

,WlYyy,FmrIP href,dugSS src,bUshh,cIVmB,iPqaD href 2,WlYyy 2,WlYyy 3,iPqaD href 3,dugSS src 2,WlYyy 5,iPqaD,iPqaD href 5,WlYyy 6,dkvhj,WlYyy 7
0,"1,000+ places sorted by traveler favorites",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"30,113",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Petronas Twin Towers,1.0,https://www.tripadvisor.com/Attraction_Review-...,Architectural Buildings,Open now,https://www.tripadvisor.com/Profile/217fredg,https://dynamic-media-cdn.tripadvisor.com/medi...,By,217fredg,https://www.tripadvisor.com/ShowUserReviews-g2...,The visit includes 15 min on the,sky bridge,which offers a great view and is an impressive...
2,106,https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,MinNature Malaysia,2.0,https://www.tripadvisor.com/Attraction_Review-...,Speciality Museums,Open now,https://www.tripadvisor.com/Profile/J0Ykk,https://dynamic-media-cdn.tripadvisor.com/medi...,By,J0Ykk,https://www.tripadvisor.com/ShowUserReviews-g2...,"I admit, I was also incredibly curious as",Sungei Wang Plaza,was a blast from the past for me.
3,"6,221",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Aquaria,3.0,https://www.tripadvisor.com/Attraction_Review-...,Aquariums,NaN,https://www.tripadvisor.com/Profile/MisterN52,https://dynamic-media-cdn.tripadvisor.com/medi...,By,MisterN52,https://www.tripadvisor.com/ShowUserReviews-g2...,It is worthwhile taking your time to appreciat...,marine life,"on display, both fresh and saltwater."
4,"13,093",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,KLCC Park,4.0,https://www.tripadvisor.com/Attraction_Review-...,Parks,Open now,https://www.tripadvisor.com/Profile/128basils,https://dynamic-media-cdn.tripadvisor.com/medi...,By,128basils,https://www.tripadvisor.com/ShowUserReviews-g2...,excellent place to stroll and unwind after a b...,running track,.

In [9]:
# check the datatype & non-null count
messy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WlYyy         164 non-null    object
 1   FmrIP href    155 non-null    object
 2   dugSS src     155 non-null    object
 3   bUshh         155 non-null    object
 4   cIVmB         155 non-null    float64
 5   iPqaD href 2  155 non-null    object
 6   WlYyy 2       163 non-null    object
 7   WlYyy 3       36 non-null     object
 8   iPqaD href 3  50 non-null     object
 9   dugSS src 2   50 non-null     object
 10  WlYyy 5       50 non-null     object
 11  iPqaD         50 non-null     object
 12  iPqaD href 5  50 non-null     object
 13  WlYyy 6       50 non-null     object
 14  dkvhj         50 non-null     object
 15  WlYyy 7       44 non-null     object
dtypes: float64(1), object(15)
memory usage: 20.6+ KB

In [10]:
# making a cop of the data to clean it
df = messy_df.copy()

In [11]:
# dropping the unnecessary columns
df.drop(['WlYyy', 'FmrIP href', 'dugSS src',  'cIVmB', 'iPqaD href 2', 'WlYyy 3', 'iPqaD href 3', 'dugSS src 2', 'WlYyy 5', 'iPqaD','iPqaD href 5', 'WlYyy 6', 'dkvhj', 'WlYyy 7'], axis=1 , inplace=True)

In [12]:
# renaming the columns
df.rename(columns={ 'bUshh':'Attraction Name', 'WlYyy 2':'Attraction Type'}, inplace=True)

In [13]:
# adding new columns
df['City'] = 'Kuala Lumpur'
df['Country'] = 'Malaysia'

In [14]:
# check the total duplicated rows
sum(df.duplicated())

11

In [15]:
# drop the duplicated rows
df.drop_duplicates()

              Attraction Name          Attraction Type          City   Country
0                         NaN                      NaN  Kuala Lumpur  Malaysia
1        Petronas Twin Towers  Architectural Buildings  Kuala Lumpur  Malaysia
2          MinNature Malaysia       Speciality Museums  Kuala Lumpur  Malaysia
3                     Aquaria                Aquariums  Kuala Lumpur  Malaysia
4                   KLCC Park                    Parks  Kuala Lumpur  Malaysia
..                        ...                      ...           ...       ...
157        Saloma Link Bridge                  Bridges  Kuala Lumpur  Malaysia
158   MABA Basketball Stadium        Arenas & Stadiums  Kuala Lumpur  Malaysia
159          Wei-Ling Gallery            Art Galleries  Kuala Lumpur  Malaysia
160           The Jade Museum       Speciality Museums  Kuala Lumpur  Malaysia
161  Sri Veera Hanuman Temple          Religious Sites  Kuala Lumpur  Malaysia

[153 rows x 4 columns]

In [16]:
df.columns

Index(['Attraction Name', 'Attraction Type', 'City', 'Country'], dtype='object')

In [17]:
#checking for total null values
df.isnull().sum()

Attraction Name    9
Attraction Type    1
City               0
Country            0
dtype: int64

In [18]:
# reset the index
df.reset_index(drop=True)

              Attraction Name          Attraction Type          City   Country
0                         NaN                      NaN  Kuala Lumpur  Malaysia
1        Petronas Twin Towers  Architectural Buildings  Kuala Lumpur  Malaysia
2          MinNature Malaysia       Speciality Museums  Kuala Lumpur  Malaysia
3                     Aquaria                Aquariums  Kuala Lumpur  Malaysia
4                   KLCC Park                    Parks  Kuala Lumpur  Malaysia
..                        ...                      ...           ...       ...
159          Wei-Ling Gallery            Art Galleries  Kuala Lumpur  Malaysia
160           The Jade Museum       Speciality Museums  Kuala Lumpur  Malaysia
161  Sri Veera Hanuman Temple          Religious Sites  Kuala Lumpur  Malaysia
162                       NaN                        1  Kuala Lumpur  Malaysia
163                       NaN                        1  Kuala Lumpur  Malaysia

[164 rows x 4 columns]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  155 non-null    object
 1   Attraction Type  163 non-null    object
 2   City             164 non-null    object
 3   Country          164 non-null    object
dtypes: object(4)
memory usage: 5.2+ KB

In [20]:
# Store the clean dataset
df.to_csv('Kuala Lumpurclean.csv')