In [6]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# loading the dataframe
messy_df = pd.read_csv('LA.csv')

In [8]:
# take a look of the first 5 rows in the data
messy_df.head()

,WlYyy,FmrIP href,dugSS src,bUshh,cIVmB,iPqaD href 2,WlYyy 2,WlYyy 3,WlYyy 4
0,"2,000+ places sorted by traveler favorites",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"14,551",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,The Getty Center,1.0,https://www.tripadvisor.com/Attraction_Review-...,Speciality Museums,Brentwood,By
2,"20,322",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Griffith Observatory,2.0,https://www.tripadvisor.com/Attraction_Review-...,Observatories & Planetariums,NaN,By
3,"36,600",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Universal Studios Hollywood,3.0,https://www.tripadvisor.com/Attraction_Review-...,Amusement & Theme Parks,Universal City Area,By
4,"2,381",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Petersen Automotive Museum,4.0,https://www.tripadvisor.com/Attraction_Review-...,Speciality Museums,Mid-Wilshire,By

In [9]:
# check the datatype & non-null count
messy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WlYyy         528 non-null    object
 1   FmrIP href    510 non-null    object
 2   dugSS src     468 non-null    object
 3   bUshh         510 non-null    object
 4   cIVmB         510 non-null    float64
 5   iPqaD href 2  510 non-null    object
 6   WlYyy 2       525 non-null    object
 7   WlYyy 3       417 non-null    object
 8   WlYyy 4       121 non-null    object
dtypes: float64(1), object(8)
memory usage: 37.2+ KB

In [10]:
# making a cop of the data to clean it
df = messy_df.copy()

In [11]:
# dropping the unnecessary columns
df.drop( ['WlYyy', 'FmrIP href', 'dugSS src', 'cIVmB', 'iPqaD href 2', 'WlYyy 3', 'WlYyy 4'], axis=1 , inplace=True)

In [12]:
# renaming the columns
df.rename(columns={ 'bUshh':'Attraction Name', 'WlYyy 2':'Attraction Type'}, inplace=True)

In [13]:
# adding new columns
df['City'] = 'Los Angeles'
df['Country'] = 'USA'

In [14]:
# check the total duplicated rows
sum(df.duplicated())

15

In [15]:
# drop the duplicated rows
df.drop_duplicates()

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Los Angeles,USA
1,The Getty Center,Speciality Museums,Los Angeles,USA
2,Griffith Observatory,Observatories & Planetariums,Los Angeles,USA
3,Universal Studios Hollywood,Amusement & Theme Parks,Los Angeles,USA
4,Petersen Automotive Museum,Speciality Museums,Los Angeles,USA
...,...,...,...,...
522,LA96C,Points of Interest & Landmarks • Lookouts,Los Angeles,USA
523,Westchester Parkway Bike Loop,Biking Trails • Jogging Paths & Tracks,Los Angeles,USA
524,L.A. Louver,Art Galleries • Speciality Museums,Los Angeles,USA
525,Plaza de la Raza Cultural Center,Civic Centres • Educational sites,Los Angeles,USA
526,Andres Pico Adobe,Architectural Buildings,Los Angeles,USA

In [16]:
df.columns

Index(['Attraction Name', 'Attraction Type', 'City', 'Country'], dtype='object')

In [17]:
#checking for total null values
df.isnull().sum()

Attraction Name    18
Attraction Type     3
City                0
Country             0
dtype: int64

In [18]:
# reset the index
df.reset_index(drop=True)

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Los Angeles,USA
1,The Getty Center,Speciality Museums,Los Angeles,USA
2,Griffith Observatory,Observatories & Planetariums,Los Angeles,USA
3,Universal Studios Hollywood,Amusement & Theme Parks,Los Angeles,USA
4,Petersen Automotive Museum,Speciality Museums,Los Angeles,USA
...,...,...,...,...
523,Westchester Parkway Bike Loop,Biking Trails • Jogging Paths & Tracks,Los Angeles,USA
524,L.A. Louver,Art Galleries • Speciality Museums,Los Angeles,USA
525,Plaza de la Raza Cultural Center,Civic Centres • Educational sites,Los Angeles,USA
526,Andres Pico Adobe,Architectural Buildings,Los Angeles,USA
527,NaN,1,Los Angeles,USA

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  510 non-null    object
 1   Attraction Type  525 non-null    object
 2   City             528 non-null    object
 3   Country          528 non-null    object
dtypes: object(4)
memory usage: 16.6+ KB

In [20]:
# Store the clean dataset
df.to_csv('LAclean.csv')