In [5]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# loading the dataframe
messy_df = pd.read_csv('Mumbai.csv')

In [7]:
# take a look of the first 5 rows in the data
messy_df.head()

,WlYyy,FmrIP href,dugSS src,bUshh,cIVmB,iPqaD href 2,WlYyy 2,WlYyy 3
0,"1,000+ places sorted by traveler favorites",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"8,181",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Marine Drive,1.0,https://www.tripadvisor.com/Attraction_Review-...,Points of Interest & Landmarks • Scenic Drives,South Mumbai
2,"9,530",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Bandra-Worli Sea Link,2.0,https://www.tripadvisor.com/Attraction_Review-...,Bridges,NaN
3,"12,477",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Gateway of India,3.0,https://www.tripadvisor.com/Attraction_Review-...,Points of Interest & Landmarks • Monuments & S...,Wellington Pier
4,"1,238",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Kanheri Caves,4.0,https://www.tripadvisor.com/Attraction_Review-...,Points of Interest & Landmarks • Caverns & Caves,Eastern Suburbs

In [8]:
# check the datatype & non-null count
messy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411 entries, 0 to 410
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WlYyy         411 non-null    object
 1   FmrIP href    395 non-null    object
 2   dugSS src     312 non-null    object
 3   bUshh         395 non-null    object
 4   cIVmB         395 non-null    float64
 5   iPqaD href 2  395 non-null    object
 6   WlYyy 2       410 non-null    object
 7   WlYyy 3       374 non-null    object
dtypes: float64(1), object(7)
memory usage: 25.8+ KB

In [9]:
# making a cop of the data to clean it
df = messy_df.copy()

In [10]:
# dropping the unnecessary columns
df.drop(['WlYyy', 'FmrIP href', 'dugSS src', 'cIVmB', 'iPqaD href 2', 'WlYyy 3'], axis=1 , inplace=True)

In [11]:
# renaming the columns
df.rename(columns={ 'bUshh':'Attraction Name', 'WlYyy 2':'Attraction Type'}, inplace=True)

In [12]:
# adding new columns
df['City'] = 'Mumbai'
df['Country'] = 'India'

In [13]:
# check the total duplicated rows
sum(df.duplicated())

18

In [14]:
# drop the duplicated rows
df.drop_duplicates()

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Mumbai,India
1,Marine Drive,Points of Interest & Landmarks • Scenic Drives,Mumbai,India
2,Bandra-Worli Sea Link,Bridges,Mumbai,India
3,Gateway of India,Points of Interest & Landmarks • Monuments & S...,Mumbai,India
4,Kanheri Caves,Points of Interest & Landmarks • Caverns & Caves,Mumbai,India
...,...,...,...,...
405,Aashirwad Art Gallery,Art Galleries,Mumbai,India
406,Horticultural park,Nature & Wildlife Areas,Mumbai,India
407,Sree Ayappa Temple,Religious Sites,Mumbai,India
408,Harekrishna Art Studio,Art Galleries,Mumbai,India
409,Pratap Art Gallery,Art Galleries,Mumbai,India

In [15]:
df.columns

Index(['Attraction Name', 'Attraction Type', 'City', 'Country'], dtype='object')

In [16]:
#checking for total null values
df.isnull().sum()

Attraction Name    16
Attraction Type     1
City                0
Country             0
dtype: int64

In [17]:
# reset the index
df.reset_index(drop=True)

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Mumbai,India
1,Marine Drive,Points of Interest & Landmarks • Scenic Drives,Mumbai,India
2,Bandra-Worli Sea Link,Bridges,Mumbai,India
3,Gateway of India,Points of Interest & Landmarks • Monuments & S...,Mumbai,India
4,Kanheri Caves,Points of Interest & Landmarks • Caverns & Caves,Mumbai,India
...,...,...,...,...
406,Horticultural park,Nature & Wildlife Areas,Mumbai,India
407,Sree Ayappa Temple,Religious Sites,Mumbai,India
408,Harekrishna Art Studio,Art Galleries,Mumbai,India
409,Pratap Art Gallery,Art Galleries,Mumbai,India
410,NaN,1,Mumbai,India

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411 entries, 0 to 410
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  395 non-null    object
 1   Attraction Type  410 non-null    object
 2   City             411 non-null    object
 3   Country          411 non-null    object
dtypes: object(4)
memory usage: 13.0+ KB

In [19]:
# Store the clean dataset
df.to_csv('Mumbaiclean.csv')