In [5]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# loading the dataframe
messy_df = pd.read_csv('Seoul.csv')

In [8]:
# take a look of the first 5 rows in the data
messy_df.head()

,WlYyy,FmrIP href,dugSS src,bUshh,cIVmB,iPqaD href 2,WlYyy 2,WlYyy 3
0,"2,000+ places sorted by traveler favorites",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"10,654",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Gyeongbokgung Palace,1.0,https://www.tripadvisor.com/Attraction_Review-...,Historic Sites • History Museums,Jongno-gu
2,"1,092",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Bukhansan National Park,2.0,https://www.tripadvisor.com/Attraction_Review-...,National Parks,NaN
3,"10,353",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Myeongdong Shopping Street,3.0,https://www.tripadvisor.com/Attraction_Review-...,Neighborhoods • Points of Interest & Landmarks,Myeongdong / Namdaemun
4,"4,613",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Changdeokgung Palace,4.0,https://www.tripadvisor.com/Attraction_Review-...,Historic Sites • Architectural Buildings,Waryong-dong

In [9]:
# check the datatype & non-null count
messy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WlYyy         601 non-null    object
 1   FmrIP href    578 non-null    object
 2   dugSS src     511 non-null    object
 3   bUshh         578 non-null    object
 4   cIVmB         578 non-null    float64
 5   iPqaD href 2  577 non-null    object
 6   WlYyy 2       599 non-null    object
 7   WlYyy 3       484 non-null    object
dtypes: float64(1), object(7)
memory usage: 37.8+ KB

In [10]:
# making a cop of the data to clean it
df = messy_df.copy()

In [11]:
# dropping the unnecessary columns
df.drop(['WlYyy', 'FmrIP href', 'dugSS src', 'cIVmB', 'iPqaD href 2', 'WlYyy 3'], axis=1 , inplace=True)

In [12]:
# renaming the columns
df.rename(columns={ 'bUshh':'Attraction Name', 'WlYyy 2':'Attraction Type'}, inplace=True)

In [13]:
# adding new columns
df['City'] = 'Seoul'
df['Country'] = 'South Korea'

In [14]:
# check the total duplicated rows
sum(df.duplicated())

43

In [15]:
# drop the duplicated rows
df.drop_duplicates()

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Seoul,South Korea
1,Gyeongbokgung Palace,Historic Sites • History Museums,Seoul,South Korea
2,Bukhansan National Park,National Parks,Seoul,South Korea
3,Myeongdong Shopping Street,Neighborhoods • Points of Interest & Landmarks,Seoul,South Korea
4,Changdeokgung Palace,Historic Sites • Architectural Buildings,Seoul,South Korea
...,...,...,...,...
596,Korea GPS Travel(tours & activities),City Tours • Multi-day Tours,Seoul,South Korea
597,Color of Korea Tour,City Tours • Multi-day Tours,Seoul,South Korea
598,Janet's Cooking Studio & Seoul Food Tour,Cooking Classes • Food Tours,Seoul,South Korea
599,Hello K Cooking Class,Cultural Tours • Cooking Classes,Seoul,South Korea
600,OME Cooking Lab,Cooking Classes,Seoul,South Korea

In [16]:
df.columns

Index(['Attraction Name', 'Attraction Type', 'City', 'Country'], dtype='object')

In [17]:
#checking for total null values
df.isnull().sum()

Attraction Name    24
Attraction Type     3
City                0
Country             0
dtype: int64

In [18]:
# reset the index
df.reset_index(drop=True)

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Seoul,South Korea
1,Gyeongbokgung Palace,Historic Sites • History Museums,Seoul,South Korea
2,Bukhansan National Park,National Parks,Seoul,South Korea
3,Myeongdong Shopping Street,Neighborhoods • Points of Interest & Landmarks,Seoul,South Korea
4,Changdeokgung Palace,Historic Sites • Architectural Buildings,Seoul,South Korea
...,...,...,...,...
597,Color of Korea Tour,City Tours • Multi-day Tours,Seoul,South Korea
598,Janet's Cooking Studio & Seoul Food Tour,Cooking Classes • Food Tours,Seoul,South Korea
599,Hello K Cooking Class,Cultural Tours • Cooking Classes,Seoul,South Korea
600,OME Cooking Lab,Cooking Classes,Seoul,South Korea
601,NaN,1,Seoul,South Korea

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  578 non-null    object
 1   Attraction Type  599 non-null    object
 2   City             602 non-null    object
 3   Country          602 non-null    object
dtypes: object(4)
memory usage: 18.9+ KB

In [20]:
# Store the clean dataset
df.to_csv('Seoulclean.csv')