In [5]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# loading the dataframe
messy_df = pd.read_csv('Singapore.csv')

In [7]:
# take a look of the first 5 rows in the data
messy_df.head()

,WlYyy,FmrIP href,dugSS src,bUshh,cIVmB,iPqaD href 2,WlYyy 2,WlYyy 3,WlYyy 4,iPqaD href 3,dugSS src 2,WlYyy 6,iPqaD,iPqaD href 5,WlYyy 7,dkvhj,WlYyy 8
0,"3,000+ places sorted by traveler favorites",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"59,526",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Gardens by the Bay,1.0,https://www.tripadvisor.com/Attraction_Review-...,Points of Interest & Landmarks • Gardens,Central Area/City Area,Open now,https://www.tripadvisor.com/Profile/sharmaamiF1,https://dynamic-media-cdn.tripadvisor.com/medi...,By,sharmaamiF1,https://www.tripadvisor.com/ShowUserReviews-g2...,You can visit,Flower Dome,", Cloud Forest, Serene Garden and OCBC SkyWay ..."
2,"19,820",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Singapore Botanic Gardens,2.0,https://www.tripadvisor.com/Attraction_Review-...,Parks • Gardens,Tanglin,Open now,https://www.tripadvisor.com/Profile/Gisadom,https://dynamic-media-cdn.tripadvisor.com/medi...,By,Gisadom,https://www.tripadvisor.com/ShowUserReviews-g2...,Amazing gardens with an spectacular,orchid garden,"and beautiful spots to relax, have a picnic or..."
3,"22,366",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Singapore Zoo,3.0,https://www.tripadvisor.com/Attraction_Review-...,Zoos,Central Water Catchment,NaN,https://www.tripadvisor.com/Profile/Hayton-family,https://dynamic-media-cdn.tripadvisor.com/medi...,By,Hayton-family,https://www.tripadvisor.com/ShowUserReviews-g2...,A must see!! All of the animals are very well ...,Polar bear,during our visit (...
4,"13,823",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,National Orchid Garden,4.0,https://www.tripadvisor.com/Attraction_Review-...,Gardens,Tanglin,NaN,https://www.tripadvisor.com/Profile/jv145294,https://dynamic-media-cdn.tripadvisor.com/medi...,By,jv145294,https://www.tripadvisor.com/ShowUserReviews-g2...,You will find lots of extremely well maintaine...,beautiful orchids,", vegetation, trees and some unique orchids de..."

In [8]:
# check the datatype & non-null count
messy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 872 entries, 0 to 871
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WlYyy         871 non-null    object
 1   FmrIP href    837 non-null    object
 2   dugSS src     771 non-null    object
 3   bUshh         837 non-null    object
 4   cIVmB         837 non-null    float64
 5   iPqaD href 2  836 non-null    object
 6   WlYyy 2       870 non-null    object
 7   WlYyy 3       826 non-null    object
 8   WlYyy 4       191 non-null    object
 9   iPqaD href 3  234 non-null    object
 10  dugSS src 2   234 non-null    object
 11  WlYyy 6       234 non-null    object
 12  iPqaD         234 non-null    object
 13  iPqaD href 5  234 non-null    object
 14  WlYyy 7       233 non-null    object
 15  dkvhj         234 non-null    object
 16  WlYyy 8       211 non-null    object
dtypes: float64(1), object(16)
memory usage: 115.9+ KB

In [9]:
# making a cop of the data to clean it
df = messy_df.copy()

In [10]:
# dropping the unnecessary columns
df.drop(['WlYyy', 'FmrIP href', 'dugSS src', 'cIVmB', 'iPqaD href 2','WlYyy 3', 'WlYyy 4', 'iPqaD href 3', 'dugSS src 2','WlYyy 6', 'iPqaD', 'iPqaD href 5', 'WlYyy 7', 'dkvhj', 'WlYyy 8'], axis=1 , inplace=True)

In [11]:
# renaming the columns
df.rename(columns={ 'bUshh':'Attraction Name', 'WlYyy 2':'Attraction Type'}, inplace=True)

In [12]:
# adding new columns
df['City'] = 'Singapore'
df['Country'] = 'Singapore'

In [13]:
# check the total duplicated rows
sum(df.duplicated())

66

In [14]:
# drop the duplicated rows
df.drop_duplicates()

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Singapore,Singapore
1,Gardens by the Bay,Points of Interest & Landmarks • Gardens,Singapore,Singapore
2,Singapore Botanic Gardens,Parks • Gardens,Singapore,Singapore
3,Singapore Zoo,Zoos,Singapore,Singapore
4,National Orchid Garden,Gardens,Singapore,Singapore
...,...,...,...,...
866,City Unscripted,City Tours • Cultural Tours,Singapore,Singapore
867,Prime Aces Limousine,Taxis & Shuttles,Singapore,Singapore
868,The Bar at 15 Stamford,Bars & Clubs,Singapore,Singapore
869,Good Luck Beer House,Bars & Clubs,Singapore,Singapore
870,Livin' Da Local,Walking Tours • Beer Tastings & Tours,Singapore,Singapore

In [15]:
df.columns

Index(['Attraction Name', 'Attraction Type', 'City', 'Country'], dtype='object')

In [16]:
#checking for total null values
df.isnull().sum()

Attraction Name    35
Attraction Type     2
City                0
Country             0
dtype: int64

In [17]:
# reset the index
df.reset_index(drop=True)

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Singapore,Singapore
1,Gardens by the Bay,Points of Interest & Landmarks • Gardens,Singapore,Singapore
2,Singapore Botanic Gardens,Parks • Gardens,Singapore,Singapore
3,Singapore Zoo,Zoos,Singapore,Singapore
4,National Orchid Garden,Gardens,Singapore,Singapore
...,...,...,...,...
867,Prime Aces Limousine,Taxis & Shuttles,Singapore,Singapore
868,The Bar at 15 Stamford,Bars & Clubs,Singapore,Singapore
869,Good Luck Beer House,Bars & Clubs,Singapore,Singapore
870,Livin' Da Local,Walking Tours • Beer Tastings & Tours,Singapore,Singapore
871,NaN,1,Singapore,Singapore

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 872 entries, 0 to 871
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  837 non-null    object
 1   Attraction Type  870 non-null    object
 2   City             872 non-null    object
 3   Country          872 non-null    object
dtypes: object(4)
memory usage: 27.4+ KB

In [19]:
# Store the clean dataset
df.to_csv('Singaporeclean.csv')