In [5]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# loading the dataframe
messy_df = pd.read_csv('Tokyo.csv')

In [7]:
# take a look of the first 5 rows in the data
messy_df.head()

,WlYyy,FmrIP href,dugSS src,bUshh,cIVmB,iPqaD href 2,WlYyy 2,WlYyy 3,iPqaD href 3,dugSS src 2,WlYyy 4,iPqaD,iPqaD href 5,WlYyy 5,dkvhj,WlYyy 6
0,"10,000+ places sorted by traveler favorites",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"8,195",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Meiji Jingu Shrine,1.0,https://www.tripadvisor.com/Attraction_Review-...,Points of Interest & Landmarks,Shibuya / Harajuku / Ebisu,https://www.tripadvisor.com/Profile/507kamc,https://dynamic-media-cdn.tripadvisor.com/medi...,By,507kamc,https://www.tripadvisor.com/ShowUserReviews-g1...,Many shrines have become too commercial and the,Meiji Jingu,Shrine has retained its elegance and solemn vibe.
2,"6,156",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Shinjuku Gyoen National Garden,2.0,https://www.tripadvisor.com/Attraction_Review-...,Gardens,Shinjuku,https://www.tripadvisor.com/Profile/markpP5371OR,https://dynamic-media-cdn.tripadvisor.com/medi...,By,markpP5371OR,https://www.tripadvisor.com/ShowUserReviews-g1...,A bonus walk through the,green house,and two separate tea houses to enjoy the vista...
3,273,https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Yomiuri Land,3.0,https://www.tripadvisor.com/Attraction_Review-...,Amusement & Theme Parks • Water Parks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"6,106",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Asakusa,4.0,https://www.tripadvisor.com/Attraction_Review-...,Neighborhoods,"Ueno, Asakusa",https://www.tripadvisor.com/Profile/DayleDavidson,https://dynamic-media-cdn.tripadvisor.com/medi...,By,DayleDavidson,https://www.tripadvisor.com/ShowUserReviews-g1...,Beautiful temple but can be quite busy with,tourists,during the day so try coming at sunset or nigh...

In [8]:
# check the datatype & non-null count
messy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341 entries, 0 to 340
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WlYyy         341 non-null    object
 1   FmrIP href    325 non-null    object
 2   dugSS src     325 non-null    object
 3   bUshh         325 non-null    object
 4   cIVmB         325 non-null    float64
 5   iPqaD href 2  325 non-null    object
 6   WlYyy 2       336 non-null    object
 7   WlYyy 3       290 non-null    object
 8   iPqaD href 3  85 non-null     object
 9   dugSS src 2   85 non-null     object
 10  WlYyy 4       98 non-null     object
 11  iPqaD         85 non-null     object
 12  iPqaD href 5  85 non-null     object
 13  WlYyy 5       85 non-null     object
 14  dkvhj         85 non-null     object
 15  WlYyy 6       82 non-null     object
dtypes: float64(1), object(15)
memory usage: 42.8+ KB

In [9]:
# making a cop of the data to clean it
df = messy_df.copy()

In [10]:
# dropping the unnecessary columns
df.drop(['WlYyy', 'FmrIP href', 'dugSS src', 'cIVmB', 'iPqaD href 2','WlYyy 3', 'iPqaD href 3', 'dugSS src 2', 'WlYyy 4', 'iPqaD','iPqaD href 5', 'WlYyy 5', 'dkvhj', 'WlYyy 6'], axis=1 , inplace=True)

In [11]:
# renaming the columns
df.rename(columns={ 'bUshh':'Attraction Name', 'WlYyy 2':'Attraction Type'}, inplace=True)

In [12]:
# adding new columns
df['City'] = 'Tokyo'
df['Country'] = 'Japan'

In [13]:
# check the total duplicated rows
sum(df.duplicated())

38

In [14]:
# drop the duplicated rows
df.drop_duplicates()

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Tokyo,Japan
1,Meiji Jingu Shrine,Points of Interest & Landmarks,Tokyo,Japan
2,Shinjuku Gyoen National Garden,Gardens,Tokyo,Japan
3,Yomiuri Land,Amusement & Theme Parks • Water Parks,Tokyo,Japan
4,Asakusa,Neighborhoods,Tokyo,Japan
...,...,...,...,...
329,Tokyo Garden Terrace Kioicho,Points of Interest & Landmarks • Architectural...,Tokyo,Japan
330,Kokyo Otemon Gate,Historic Sites,Tokyo,Japan
331,Nihonbashi Nagasakikan,Visitor Centers,Tokyo,Japan
332,Kokufu Bonsai-Ten,Cultural Events,Tokyo,Japan
333,Joyful Minowa,Points of Interest & Landmarks,Tokyo,Japan

In [15]:
df.columns

Index(['Attraction Name', 'Attraction Type', 'City', 'Country'], dtype='object')

In [16]:
#checking for total null values
df.isnull().sum()

Attraction Name    16
Attraction Type     5
City                0
Country             0
dtype: int64

In [17]:
# reset the index
df.reset_index(drop=True)

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Tokyo,Japan
1,Meiji Jingu Shrine,Points of Interest & Landmarks,Tokyo,Japan
2,Shinjuku Gyoen National Garden,Gardens,Tokyo,Japan
3,Yomiuri Land,Amusement & Theme Parks • Water Parks,Tokyo,Japan
4,Asakusa,Neighborhoods,Tokyo,Japan
...,...,...,...,...
336,Coredo Muromachi 1,Shopping Malls,Tokyo,Japan
337,Kyu Kaneiji Five-Storied Pagoda,Religious Sites,Tokyo,Japan
338,Marunouchi Building,Shopping Malls,Tokyo,Japan
339,Asakusa Ekimise,Shopping Malls,Tokyo,Japan
340,NaN,1,Tokyo,Japan

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341 entries, 0 to 340
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  325 non-null    object
 1   Attraction Type  336 non-null    object
 2   City             341 non-null    object
 3   Country          341 non-null    object
dtypes: object(4)
memory usage: 10.8+ KB

In [19]:
# Store the clean dataset
df.to_csv('Tokyoclean.csv')