In [5]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# loading the dataframe
messy_df = pd.read_csv('Toronto.csv')

In [7]:
# take a look of the first 5 rows in the data
messy_df.head()

,WlYyy,FmrIP href,dugSS src,bUshh,cIVmB,iPqaD href 2,WlYyy 2,WlYyy 3
0,"2,000+ places sorted by traveler favorites",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"20,386",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Ripley's Aquarium of Canada,1.0,https://www.tripadvisor.com/Attraction_Review-...,Aquariums,CityPlace
2,"8,464",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Toronto Island Park,2.0,https://www.tripadvisor.com/Attraction_Review-...,Islands • Parks,Old Toronto
3,"25,055",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,CN Tower,3.0,https://www.tripadvisor.com/Attraction_Review-...,Points of Interest & Landmarks • Architectural...,CityPlace
4,"13,878",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,St. Lawrence Market,4.0,https://www.tripadvisor.com/Attraction_Review-...,Flea & Street Markets,Waterfront Communities-The Island

In [8]:
# check the datatype & non-null count
messy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WlYyy         504 non-null    object
 1   FmrIP href    486 non-null    object
 2   dugSS src     473 non-null    object
 3   bUshh         486 non-null    object
 4   cIVmB         486 non-null    float64
 5   iPqaD href 2  486 non-null    object
 6   WlYyy 2       503 non-null    object
 7   WlYyy 3       492 non-null    object
dtypes: float64(1), object(7)
memory usage: 31.6+ KB

In [9]:
# making a cop of the data to clean it
df = messy_df.copy()

In [10]:
# dropping the unnecessary columns
df.drop(['WlYyy', 'FmrIP href', 'dugSS src', 'cIVmB', 'iPqaD href 2','WlYyy 3'], axis=1 , inplace=True)

In [11]:
# renaming the columns
df.rename(columns={ 'bUshh':'Attraction Name', 'WlYyy 2':'Attraction Type'}, inplace=True)

In [12]:
# adding new columns
df['City'] = 'Toronto'
df['Country'] = 'Canada'

In [13]:
# check the total duplicated rows
sum(df.duplicated())

21

In [14]:
# drop the duplicated rows
df.drop_duplicates()

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Toronto,Canada
1,Ripley's Aquarium of Canada,Aquariums,Toronto,Canada
2,Toronto Island Park,Islands • Parks,Toronto,Canada
3,CN Tower,Points of Interest & Landmarks • Architectural...,Toronto,Canada
4,St. Lawrence Market,Flea & Street Markets,Toronto,Canada
...,...,...,...,...
491,Elisabeth Legge Antique Prints,Art Galleries,Toronto,Canada
492,The Handwork Department,Antique Shops,Toronto,Canada
493,Don River Watershed Trail,Hiking Trails,Toronto,Canada
494,Toronto Sun Building Mural,Points of Interest & Landmarks,Toronto,Canada
495,The Theatre Centre,Theaters,Toronto,Canada

In [15]:
df.columns

Index(['Attraction Name', 'Attraction Type', 'City', 'Country'], dtype='object')

In [16]:
#checking for total null values
df.isnull().sum()

Attraction Name    18
Attraction Type     1
City                0
Country             0
dtype: int64

In [17]:
# reset the index
df.reset_index(drop=True)

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Toronto,Canada
1,Ripley's Aquarium of Canada,Aquariums,Toronto,Canada
2,Toronto Island Park,Islands • Parks,Toronto,Canada
3,CN Tower,Points of Interest & Landmarks • Architectural...,Toronto,Canada
4,St. Lawrence Market,Flea & Street Markets,Toronto,Canada
...,...,...,...,...
499,Nickel 9 Distillery,Distilleries,Toronto,Canada
500,St. Mary's Church,Churches & Cathedrals,Toronto,Canada
501,Robert Gill Theatre,Theaters,Toronto,Canada
502,Necropolis Chapel,Religious Sites,Toronto,Canada
503,NaN,1,Toronto,Canada

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  486 non-null    object
 1   Attraction Type  503 non-null    object
 2   City             504 non-null    object
 3   Country          504 non-null    object
dtypes: object(4)
memory usage: 15.9+ KB

In [19]:
# Store the clean dataset
df.to_csv('Torontoclean.csv')