In [5]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# loading the dataframe
messy_df = pd.read_csv('Vienna.csv')

In [7]:
# take a look of the first 5 rows in the data
messy_df.head()

,WlYyy,FmrIP href,dugSS src,bUshh,cIVmB,iPqaD href 2,WlYyy 2,WlYyy 3,TCGml,WlYyy 4,iPqaD href 3,dugSS src 2,WlYyy 5,iPqaD,iPqaD href 5,WlYyy 6,dkvhj,WlYyy 7
0,"1,000+ places sorted by traveler favorites",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"42,682",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Schönbrunn Palace,1.0,https://www.tripadvisor.com/Attraction_Review-...,Architectural Buildings • Castles,Schönbrunn,•,Open now,https://www.tripadvisor.com/Profile/Donegalabu,https://dynamic-media-cdn.tripadvisor.com/medi...,By,Donegalabu,https://www.tripadvisor.com/ShowUserReviews-g1...,"... and with an early concert booked, the snap...",grand tour,was perfect for us and I thoroughly enjoyed it.
2,"9,757",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Kunsthistorisches Museum Vienna,2.0,https://www.tripadvisor.com/Attraction_Review-...,Speciality Museums • Art Museums,Inner City,•,Open now,https://www.tripadvisor.com/Profile/DdraigGoch...,https://dynamic-media-cdn.tripadvisor.com/medi...,By,DdraigGoch1948,https://www.tripadvisor.com/ShowUserReviews-g1...,The museum is crowned with an octagonal dome a...,first floor,a cafe which appeared to be much in demand by ...
3,"19,071",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Historic Center of Vienna,3.0,https://www.tripadvisor.com/Attraction_Review-...,Historic Sites • Neighborhoods,Inner City,NaN,NaN,https://www.tripadvisor.com/Profile/alexbT7665XV,https://dynamic-media-cdn.tripadvisor.com/medi...,By,alexbT7665XV,https://www.tripadvisor.com/ShowUserReviews-g1...,Vienna is an impressively,beautiful city,with a grandeur and majestic elegance that riv...
4,"9,935",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Tiergarten Schoenbrunn - Zoo Vienna,4.0,https://www.tripadvisor.com/Attraction_Review-...,Zoos,Schönbrunn,•,Open now,https://www.tripadvisor.com/Profile/SirAlbertR...,https://dynamic-media-cdn.tripadvisor.com/medi...,By,SirAlbertRules,https://www.tripadvisor.com/ShowUserReviews-g1...,I saw attractions like,polar bear,", penguins, pandas, sea lions, koalas bear and..."

In [8]:
# check the datatype & non-null count
messy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WlYyy         497 non-null    object
 1   FmrIP href    480 non-null    object
 2   dugSS src     477 non-null    object
 3   bUshh         480 non-null    object
 4   cIVmB         480 non-null    float64
 5   iPqaD href 2  480 non-null    object
 6   WlYyy 2       496 non-null    object
 7   WlYyy 3       484 non-null    object
 8   TCGml         121 non-null    object
 9   WlYyy 4       135 non-null    object
 10  iPqaD href 3  112 non-null    object
 11  dugSS src 2   112 non-null    object
 12  WlYyy 5       112 non-null    object
 13  iPqaD         112 non-null    object
 14  iPqaD href 5  112 non-null    object
 15  WlYyy 6       112 non-null    object
 16  dkvhj         112 non-null    object
 17  WlYyy 7       110 non-null    object
dtypes: float64(1), object(17)
memory usage: 70.0+ KB

In [9]:
# making a cop of the data to clean it
df = messy_df.copy()

In [10]:
# dropping the unnecessary columns
df.drop(['WlYyy', 'FmrIP href', 'dugSS src','cIVmB', 'iPqaD href 2','WlYyy 3', 'TCGml', 'WlYyy 4', 'iPqaD href 3', 'dugSS src 2', 'WlYyy 5', 'iPqaD', 'iPqaD href 5', 'WlYyy 6', 'dkvhj', 'WlYyy 7'], axis=1 , inplace=True)

In [11]:
# renaming the columns
df.rename(columns={ 'bUshh':'Attraction Name', 'WlYyy 2':'Attraction Type'}, inplace=True)

In [12]:
# adding new columns
df['City'] = 'Vienna'
df['Country'] = 'Austria'

In [13]:
# check the total duplicated rows
sum(df.duplicated())

14

In [14]:
# drop the duplicated rows
df.drop_duplicates()

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Vienna,Austria
1,Schönbrunn Palace,Architectural Buildings • Castles,Vienna,Austria
2,Kunsthistorisches Museum Vienna,Speciality Museums • Art Museums,Vienna,Austria
3,Historic Center of Vienna,Historic Sites • Neighborhoods,Vienna,Austria
4,Tiergarten Schoenbrunn - Zoo Vienna,Zoos,Vienna,Austria
...,...,...,...,...
491,Galerie Kaiblinger,Art Galleries,Vienna,Austria
492,Mosesbrunnen,Fountains,Vienna,Austria
493,Sebastian Kneipp Brunnen,Fountains,Vienna,Austria
494,St Marxer Friedhof,Cemeteries,Vienna,Austria
495,Wiener Symphoniker,Symphonies,Vienna,Austria

In [15]:
df.columns

Index(['Attraction Name', 'Attraction Type', 'City', 'Country'], dtype='object')

In [16]:
#checking for total null values
df.isnull().sum()

Attraction Name    17
Attraction Type     1
City                0
Country             0
dtype: int64

In [17]:
# reset the index
df.reset_index(drop=True)

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Vienna,Austria
1,Schönbrunn Palace,Architectural Buildings • Castles,Vienna,Austria
2,Kunsthistorisches Museum Vienna,Speciality Museums • Art Museums,Vienna,Austria
3,Historic Center of Vienna,Historic Sites • Neighborhoods,Vienna,Austria
4,Tiergarten Schoenbrunn - Zoo Vienna,Zoos,Vienna,Austria
...,...,...,...,...
492,Mosesbrunnen,Fountains,Vienna,Austria
493,Sebastian Kneipp Brunnen,Fountains,Vienna,Austria
494,St Marxer Friedhof,Cemeteries,Vienna,Austria
495,Wiener Symphoniker,Symphonies,Vienna,Austria
496,NaN,1,Vienna,Austria

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  480 non-null    object
 1   Attraction Type  496 non-null    object
 2   City             497 non-null    object
 3   Country          497 non-null    object
dtypes: object(4)
memory usage: 15.7+ KB

In [19]:
# Store the clean dataset
df.to_csv('Viennaclean.csv')